---
import LingLongConfig from "../../linglong.config";
import BaseHead from "../components/BaseHead.astro";
import  SpeedInsights  from "@vercel/speed-insights/astro"
import Analytics from '@vercel/analytics/astro'
---

<html lang={LingLongConfig.locale}>
  <BaseHead />
  <body class="overflow-y-hidden">
    <slot />
    <SpeedInsights />
    <Analytics />
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
  }
</style>
