---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' },
  { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} view>
  <!-- {/* About astro-pure */}
  <div class='not-prose flex justify-center'>
    <a
      href='/docs/advanced/about' target='_blank'
      class='flex items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
    >
      <span class='size-2 rounded-full bg-green-400'></span>
      <p class='font-medium text-muted-foreground'>About Astro-Theme-Pure Project</p>
    </a>
  </div> -->
  <!-- <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/cworld1'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p> -->
  <p>
    If you find my projects useful, you can buy me a coffee to say thanks! 
    Got a cool idea? Drop me a line—I'd love to chat about it.
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

  <!-- <h2 id='programs'>Theme</h2>
  <ProjectSection
    projects={[
      {
        name: '🎨 Astro Theme Pure',
        description: 'A simple, fast and powerful blog & document theme built by Astro',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
          { type: 'site', href: 'https://astro-pure.js.org/' },
          { type: 'doc', href: 'https://astro-pure.js.org/docs/list' },
          // { type: 'release', href: 'https://www.npmjs.com/package/astro-pure' }
        ]
      }
    ]}
  /> -->

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'Smart Gaze',
        description: 'RK3568 NPU-accelerated face recognition access control with Web management.',
        links: [
          { type: 'github', href: 'https://github.com/JuyaoHuang/SmartGaze' }
          // {
          //   type: 'release',
          //   href: 'https://www.npmjs.com/package/rehype-autolink-headings-simple'
          // }
        ]
      },
      {
        name: 'LLM-vtuber',
        description:
          '您的全平台、全离线 Live2D 桌面语音 AI 伴侣。',
        links: [{ type: 'github', href: 'https://github.com/Open-LLM-VTuber/Open-LLM-VTuber' }]
      }
    ]}
  />

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: '深度学习框架 PyTorch',
        description: 'Some notes and code about learning Deep Learning',
        links: [
          { type: 'github', href: 'https://github.com/JuyaoHuang/blogs/tree/main/AI/pytorch' },
          { type: 'site', href: 'https://www.juyaohuang.com/categories/%E4%BA%BA%E5%B7%A5%E6%99%BA%E8%83%BD/%E6%B7%B1%E5%BA%A6%E5%AD%A6%E4%B9%A0%E6%A1%86%E6%9E%B6' }
        ]
      },
      {
        name: '深度学习实验',
        description: 'Neural Networks and Deep Learning Course Experiment Codes and Reports',
        links: [
          { type: 'github', href: 'https://github.com/JuyaoHuang/BUPTDeepLearning' },
          { type: 'site', href: 'https://www.juyaohuang.com/categories/%E9%A1%B9%E7%9B%AE%E5%AE%9E%E8%B7%B5/deeplearning' }
        ]
      },
      {
        name: '通信原理',
        description: 'Some notes and exercise about learning Communication Principle',
        links: [
          {
            type: 'site',
            href: 'https://www.juyaohuang.com/categories/%E7%9F%A5%E8%AF%86%E5%BA%93/%E9%80%9A%E4%BF%A1%E5%8E%9F%E7%90%86'
          }
        ]
      },
      {
        name: '计算机网络',
        description: 'Some notes and exercises about learning Computer Networks',
        links: [
          {
            type: 'site',
            href: 'https://www.juyaohuang.com/categories/%E7%9F%A5%E8%AF%86%E5%BA%93/%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%BD%91%E7%BB%9C'
          }
        ]
      },
      {
        name: '微机原理',
        description: 'Some notes and exercises about learning Microcomputer Principles',
        links: [
          {
            type: 'site',
            href: 'https://www.juyaohuang.com/categories/%E7%9F%A5%E8%AF%86%E5%BA%93/%E5%BE%AE%E6%9C%BA%E5%8E%9F%E7%90%86'
          }
        ]
      },
      {
        name: '信息论',
        description: 'Some notes and exercises about learning Information Theory',
        links: [
          {
            type: 'site',
            href: 'https://www.juyaohuang.com/categories/%E7%9F%A5%E8%AF%86%E5%BA%93/%E4%BF%A1%E6%81%AF%E8%AE%BA'
          }
        ]
      },
    ]}
  />

  <!-- <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: 'CWorld',
        description: "CWorld's Github",
        links: [{ type: 'github', href: 'https://github.com/cworld1' }]
      },
      {
        name: 'Arthals',
        description: 'Arthals Github',
        links: [{ type: 'github', href: 'https://github.com/zhuozhiyongde' }]
      }
    ]}
  /> -->

  <h2 id='gpg-signature'>GPG Signature</h2>
  <p>
    你可以通过检查 GPG 签名来验证我签名文件的真实性。我的 GPG 密钥是<code>C68857F173DCB742</code>，你可以在 openpgp 密钥服务器上找到它，或者从那里下载。
  </p>
  <Button href='https://keys.openpgp.org/search?q=114514' title='Checkout my key' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button>

  <h2 id='sponsorship'>Sponsorship</h2>
  <!-- <a href="https://afdian.com/a/cworld" target="_blank">Afadian</a>, -->
  <p>Chinese methods: Wechat or Alipay </p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <!-- <p>Global methods: <a href="https://ko-fi.com/cworld0" target="_blank">Ko-fi</a> </p> -->
  <!-- <p>Please leave a message or contact me proactively after sponsorship. My email is:
    <code style='cursor: pointer'
      onclick='const m=atob(this.textContent);alert(m);window.open(`mailto:${m}`,"_blank")'
    >dGluZ2h1YTUyMjZAMTYzLmNvbQ==</code>
    (click code to transform base64).
  </p> -->
  <!-- <p>Thanks to the following sponsors:</p>
  <Sponsors
    progressMax={50}
    sponsors={[
      { name: 'hoochanlon', platform: 'Wechat', amount: 5, date: '2025-11-09' },
      { name: 'Arthals', platform: 'Wechat', amount: 50, date: '2025-11-06' },
    ]}
  /> -->
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
